<h1>Most recent pictures</h1>
<ul>
  <% @most_recent_pictures.each do |picture| %>
    <li><%= picture.title %></li>
  <% end %>
</ul>

<%=link_to("Old Pictures", old_pictures_url) %>

<h1>Pictures</h1>
<%= link_to("New Picture", new_picture_path) %>
<%@pictures.each do |picture|%>
  <p><%=picture.title%>, <%=picture.artist%></p>
  <%= link_to(image_tag(picture.url), picture_path(picture)) %>
<%end%>
