<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<header>
    <%= link_to("New User", new_user_path)%>
</header>
<body>
<% if flash[:message] %>
  <% flash[:message].each do |message| %>
    <p><%= message %></p>
  <% end %>
<%end %>
<%= yield %>

</body>
</html>
